QueryData_GUI/Service References/QueryService/queryservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edndate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryNTPResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryGatewayStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edndate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryGatewayStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryGatewayStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryM1Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edndate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryM1StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryM1StatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="QueryNTPSoapIn">
    <wsdl:part name="parameters" element="tns:QueryNTP" />
  </wsdl:message>
  <wsdl:message name="QueryNTPSoapOut">
    <wsdl:part name="parameters" element="tns:QueryNTPResponse" />
  </wsdl:message>
  <wsdl:message name="QueryGatewayStatusSoapIn">
    <wsdl:part name="parameters" element="tns:QueryGatewayStatus" />
  </wsdl:message>
  <wsdl:message name="QueryGatewayStatusSoapOut">
    <wsdl:part name="parameters" element="tns:QueryGatewayStatusResponse" />
  </wsdl:message>
  <wsdl:message name="QueryM1StatusSoapIn">
    <wsdl:part name="parameters" element="tns:QueryM1Status" />
  </wsdl:message>
  <wsdl:message name="QueryM1StatusSoapOut">
    <wsdl:part name="parameters" element="tns:QueryM1StatusResponse" />
  </wsdl:message>
  <wsdl:portType name="queryserviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryNTP">
      <wsdl:input message="tns:QueryNTPSoapIn" />
      <wsdl:output message="tns:QueryNTPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryGatewayStatus">
      <wsdl:input message="tns:QueryGatewayStatusSoapIn" />
      <wsdl:output message="tns:QueryGatewayStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryM1Status">
      <wsdl:input message="tns:QueryM1StatusSoapIn" />
      <wsdl:output message="tns:QueryM1StatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="queryserviceSoap" type="tns:queryserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryNTP">
      <soap:operation soapAction="http://tempuri.org/QueryNTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryGatewayStatus">
      <soap:operation soapAction="http://tempuri.org/QueryGatewayStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryM1Status">
      <soap:operation soapAction="http://tempuri.org/QueryM1Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="queryserviceSoap12" type="tns:queryserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryNTP">
      <soap12:operation soapAction="http://tempuri.org/QueryNTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryGatewayStatus">
      <soap12:operation soapAction="http://tempuri.org/QueryGatewayStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryM1Status">
      <soap12:operation soapAction="http://tempuri.org/QueryM1Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="queryservice">
    <wsdl:port name="queryserviceSoap" binding="tns:queryserviceSoap">
      <soap:address location="http://localhost:53129/queryservice.asmx" />
    </wsdl:port>
    <wsdl:port name="queryserviceSoap12" binding="tns:queryserviceSoap12">
      <soap12:address location="http://localhost:53129/queryservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>